# RewriteEngine on
#RewriteCond $1 !^(index\\.php|system\\.php|images|skin|js|ls|dl|resource|batch|swfupload|attachment|application|robots\\.txt)
#RewriteRule ^(.*)$ /index.php/$1 [L]

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.*)$ index.php/$1 [L]